name: Test Branch
on:
  # Trigger the workflow on push to the main branch
  push:
    branches:
      - '**'
      - '!main'
  repository_dispatch:
    types:
      [dev]
  # Trigger the workflow on workflow dispatch
  workflow_dispatch:
# Environment variables required for deployment
# Concurrency for the workflow
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Job to install dependencies and run lint checks
  install-and-lint:
    uses: vertotrade/verto.ui/.github/workflows/action-install-lint.yml@main

  # Job to build the UI/Next.js
  build:
    uses: vertotrade/verto.ui/.github/workflows/action-build.yml@update-build-workflow
    needs: [install-and-lint]
    # Passes the environment variable "env" with value "dev" to the action
    with:
      env: dev
